/* Tabla */
#tablepucs tr:first-child {
    pointer-events: none;
}
#tablepucs tr {
    border-top: none;
    border-left: solid 1px transparent !important;
}
#tablepucs tr:hover {
    background-color: rgba(0,0,0,0.04);
    border-top: none;
    border-left-color: inherit;
    /* border-left-color: rgba(0,0,0,0.12); */
    box-shadow: none;
}