/* Tabla */
.tableresponsive {
    width: 100%;
}
.tableresponsive tr:first-child {
    pointer-events: none;
}
.tableresponsive tr {
    border-top: none;
    border-left: solid 1px transparent !important;
}
.tableresponsive tr:hover {
    background-color: rgba(0,0,0,0.04);
    border-top: none;
    border-left-color: rgba(0,0,0,0.12);
    box-shadow: none;
}